
*.docx
Lab Two -- Autocorr and PSD/(The Oxford Series in Electrical and Computer Engineering) Ding, Zhi_ Lathi, Bhagwandas Pannalal - Modern digital and analog communication systems-Oxford University Press, USA (2018_2019).pdf
